.navmio{
		
	background:  teal;
	padding: 8px 16px 8px 16px;
	text-align: center;
	
}

body {
	margin: 0;
		 padding: 0;
		 color: #fff;
		 background:url(../img/download.jpg) ;
		 background-size: cover;
  		font-family: sans-serif;
  		height: 100vh;
	
}

.body-home{
		 margin: 0;
		 padding: 0;
		 background:url(../img/japan-tokyo-cityscapes-city-photography-bokeh-out-of-focus-3840x2400-abstract-photography-hd-art-wallpaper-preview.jpg) no-repeat center top;
		 background-size: cover;
  		 font-family: sans-serif;
  		
  		height: 100vh;	
}
.login-box {
  width: 320px;
  height: 420px;
  background:teal;
  color: #fff;
  top: 50%;
  left: 50%;  
  padding: 70px 30px;
}

.columna {
	position: sticky;
	left: 0;
	background: teal; 
	 color: #fff;
	
	
}


