<!DOCTYPE html>
<html>

<div class="modal-header">
	<h5 class="modal-title" id="editarModalTitulo">Vender</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form id="formProducto" th:object="${venta}" th:action="@{/producto/vender}" method="post">
		<div class="form-group row">
			
			<label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
			<div class="col-sm-10">
				<input type="number" id="cantidad" th:field="*{cantProductos}" class="form-control">
			</div>
			<label for="cantidad" class="col-sm-2 col-form-label">Cliente</label>
			<div class="col-sm-10">
				<div>
					<select th:field="*{cliente.idCliente}" class="custom-select mt-3 mb-3 border-info" required>
						<option th:each="c :${clientes}" th:value="${c.idCliente}" th:text="${c.nYa}"
							value="----"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-primary">Confirmar Compra</button>
		</div>


	</form>
</div>


</body>

</html>