<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css"	th:href="@{/css/misestilos.css}" />
<link th:rel="stylesheet" type="text/css"	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
<meta charset="UTF-8">
<title>Producto</title>
</head>
<body>
	<div class="container">
	<div th:insert="layouts/header :: header"></div>
	
	<h1>Formulario de Carga de Producto</h1>
	
	
	<form id="formProducto" th:object="${unProducto}" th:action="${editMode}?@{/producto/modificar}:@{/producto/guardar}" method="post">
		<div class="form-group row">
			<label for="codigo"class="col-sm-2 col-form-label">Codigo</label> 
			<div class="col-sm-10">
			<input type="text"	id="codigo" th:field="*{codProducto}"class="form-control">
			</div>
			</div>
			
		
		<div class="form-group row">
			<label for="nombre"class="col-sm-2 col-form-label">Nombre</label> 
			<div class="col-sm-10">
			<input type="text"	id="nombre" th:field="*{nombre}"class="form-control">
			</div>
			</div>
			
		<div class="form-group row">
			<label for="precio"class="col-sm-2 col-form-label">Precio</label> 
			<div class="col-sm-10">
			<input type="number" id="precio" th:field="*{precio}"class="form-control">
		</div>
			</div>
			
			
		<div class="form-group row">
			<label for="marca"class="col-sm-2 col-form-label">Marca</label> 
				<div class="col-sm-10">
			<input type="text" id="marca" th:field="*{marca}"class="form-control">		
		</div>
			</div>
			
			<div class="form-group row">
			<label for="stock"class="col-sm-2 col-form-label">Stock</label> 
				<div class="col-sm-10">
			<input type="number" id="stock" th:field="*{stock}"class="form-control">
		
			</div>
			</div>
			
		

		
	<div class="d-grid gap-2">
				
				<!-- <button  class="btn btn-primary" type="submit"  value="Agregar">Agregar</button> -->
				<input type="submit" class="btn btn-success btn-block"  th:value="${editMode}?'Modificar Producto':'Crear Producto'">
			</div>
	

	</form>
	
		<!-- ---------------------------------------------------------------- -->
		<h3>Lista de Productos</h3><br>
	<div>
				<table class="table table-success table-striped">
			<thead class="thead-dark">

				    <tr>
				    <th class="columna" >Cod Producto</th>				      
				      <th>Nombre</th>
				      <th>Precio</th>
				      <th>Marca</th>
				      <th>Stock</th>	
				      <th>Edicion </th>			      
				    </tr>
				    </thead>
				    <tr th:if="${productos.empty}">
            		<td colspan="2"> No hay productos en el listado </td>
        			</tr>
        		
					<tr th:each="p : ${productos}">	
						<td class="columna" th:text="${p.codProducto}"> </td>
						<td th:text="${p.nombre}"></td>
						<td th:text="${p.precio}"></td>
						<td th:text="${p.marca}"></td>
						<td th:text="${p.stock}"></td>	
						<td><a href="#" th:href="@{'/producto/editar/'+${p.codProducto}}">
									<i class="fa fa-edit"></i></a>					
					</tr>
				</table>
				
			</div>
			
		</div>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<div th:insert="layouts/footer :: footer"></div>

</body>
</html>